body {
    font-family:'Spartan', sans-serif;
    font-size: 2rem;
    background-color: hsl(222, 26%, 31%);
}

a {
    text-decoration: none;
    color:hsl(30, 25%, 89%);
}

/********** Body **********/
.container-all {
    width: 40%;
}

@media only screen and (max-width: 573px)  {
    .container-all {
        width: 100%;
    }
}
@media only screen and (max-width: 800px)  {
    .container-all {
        width: 80%;
    }
}


/********** Header **********/
.header {
    color: #fff;
    display: flex;
    margin: 30px 1px 10px 0;
    align-items: flex-end;
}

.calc-textBox {
    vertical-align: bottom;
}

.calcText {
    vertical-align: bottom;
}

.toggle-bar {
    text-align: end;
    justify-content: end;
    align-items: flex-end;
    width: 25%;
    min-width: 120px;
    margin: auto 0 0 auto;
    flex-wrap: nowrap;
    vertical-align: bottom;
    padding-right: 0;
}

.theme {
    font-size: 0.7rem;
    font-weight: 700;
    vertical-align: bottom;
    align-items: flex-end;
    justify-content: end;
}

.theme-nums {
    letter-spacing: 0.15rem;
    min-width: 60px;
}

.theme-text {
    text-align: end;
}

.switch-toggle {
    float: right;
    background: #242729;
    border-radius: 35%;
 }
 .switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 7px;
   float:left;
   color: #fff;
   cursor: pointer;
   font-size: 0.6rem;
   font-weight: 700;
 }
 .switch-toggle input:checked + label {
   background: hsl(6, 63%, 50%);
   border-radius: 100%;
 }


.result-screen {
    background-color: hsl(224, 36%, 15%);
    border-radius: 5%;
    font-size: 3rem;
    text-align: end;
    color:hsl(30, 25%, 89%);
    padding-top: 15px;
    padding-right: 15px;
    font-weight: 700;
    overflow: hidden;
}

/********** BUTTONS **********/
.container-keys {
    background-color: hsl(223, 31%, 20%);
    text-align: center;
    margin: 20px 0;
}

.numbersBtn {
    position: relative;
    font-weight: 700;
    width: 95%;
    margin: 7% 3%;
    box-shadow: 1px 2px hsl(28, 16%, 65%);
    border: 0;
    border-radius: 10%;
}

.small-button {
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
}

.delBtn {
    background-color: hsl(225, 21%, 49%);
    color: #fff;
    font-size: 0.8rem;
    box-shadow: 1px 2px hsl(224, 28%, 35%);
}

.big-button {
    background-color: hsl(225, 21%, 49%);
    color: #fff;
    font-weight: 700;
    font-size: 0.8rem;
    box-shadow: 1px 2px hsl(224, 28%, 35%);
}

.eqlButton {
    /*background-color: hsl(225, 21%, 49%);*/
    background-color: hsl(6, 63%, 50%);
    box-shadow: 1px 2px hsl(6, 70%, 34%);
}

.attribution {
    color: hsl(28, 16%, 65%);
}